<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Search</title>
</head>
<body>
    <h1>Search Form</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.field.label }}<br>
            {{ form.field(size=32) }}
        </p>
        <p>
            {{ form.folder.label }}<br>
            {{ form.folder(size=32) }}
        </p>
        <p>
            {{ form.condition.label }}<br>
            {{ form.condition(size=32) }}
        </p>
        <p>{{ form.search }}</p>
    </form>
</body>
</html>